<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5">
           <form action method="POST">  
        <div class="form-group">   
            <label>Username : </label>   
            <input type="text" placeholder="Enter Username" name="usernameup" required>  
        </div>
         <div class="form-group">   
            <label>email : </label>   
            <input type="email" placeholder="Enter mailid" name="emailup" required>  
        </div>
          <div class="form-group">   
             <label>Password : </label>   
            <input type="password" placeholder="Enter Password" name="passwordup" required>  
        </div>
            <button type="submit" class="btn btn-primary float-right">Create</button>    
            <br><br>    
    </form>     
        </div>
      
    </div>
</div>
